page-register {
    .text-input{
        text-align: right;
    }
    .scroll-content{
        background-color: #F5F5F5;
    }
    .toolbar-title-md {
        color: #ffffff;
    }
    .toolbar-background-md {
        background: #488aff;
    }

    .passwordIcon{
        font-size: 2rem !important;
        position: relative !important;
        top: 5px !important;
        margin: 0 auto !important;
        color: #a7a7a7;
    }
}
