page-modal {
    .toolbar-title-md {
        color: #ffffff;
    }
    .toolbar-background-md {
        background: #488aff;
    }
    .button-inner{
        color: #ffffff;
    }
    .progress-percentage-wrapper {
        position: relative;
        margin: 20px auto;
        font-size: 40px;
        width: 200px;
        height: 200px;
    }

    .progress-percentage-header {
        font-size: 26px;
        position: absolute;
        color: #bbb;
        width: 100%;
        text-align: center !important;
        top: 25%;
    }
    .progress-percentage-header-logo{
        font-size: 26px;
        position: absolute;
        color: #bbb;
        width: 100%;
        text-align: left !important;
        top: -10px;
        left: -43px;
    }

    .progress-percentage-button{
        font-size: 26px;
        position: absolute;
        color: #bbb;
        width: 100%;
        text-align: right !important;
        top: 90%;
        right: -40px;
    }

    .progress-percentage {
        position: absolute;
        color: #bbb;
        width: 100%;
        text-align: center !important;
        top: 40%;
    }

    img.img{
        width: 50px;
        height: 50px;
    }

    .shadow{
        // width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .result{
        margin: 10px;
    }
}
