<!--
  Generated template for the PinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>จุดที่รับผิดชอบ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar showCancelButton placeholder="ค้นหา" [(ngModel)]="searchStr" (input)="getItems()" (ionClear)="resetData()"></ion-searchbar>
  <ion-list>
      <ion-grid>
        <ion-row *ngFor="let item of items" (click)="itemSelected(item)" class="border">
          <ion-col col-8>
                {{ item.pinName }}
          </ion-col>
          <ion-col col-4>
              <!-- <ion-icon  name="checkmark-circle" color="secondary"></ion-icon> -->
              <div class="text" *ngIf="item.createdDtm != null">ส่งแล้ว</div>
              <div class="not-text" *ngIf="item.createdDtm == null">ไม่มีข้อมูล</div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-list>
  
</ion-content>
