page-problem {
    // .text-input{
    //     text-align: right;
    // }
    .toolbar-title-md {
        color: #ffffff;
    }
    .toolbar-background-md {
        background: #488aff;
    }
    .back-button.show-back-button {
        color: white;
    }
    .label-md[stacked] {
        font-size: 14px;
    }
}
