page-modal-problem-result {
    .toolbar-title-md {
        color: #ffffff;
    }
    .toolbar-background-md {
        background: #488aff;
    }
    .bar-button-md .button-inner{
        color: #ffffff;
    }
    span.result{
        padding: 3px 7px 3px 7px;
        border-radius: 10px;
        color: white;
    }
}
