header-menu {
    .item{
        background-color: white;
        margin: 5px 0px 5px 10px;
        border-bottom: 1px solid #9E9E9E;
    }

    .item-inner{
        font-size: 16px;
    }

    .label-md {
        color: #404040;
    }

}
